<a href="https://colab.research.google.com/github/vaaibhavsharma/pyCJ/blob/main/pythonLab/Experiment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
string = "Python"

for i in range(len(string)+1):
  print(string[0:i])

P
Py
Pyt
Pyth
Pytho
Python

In [6]:
for i in range(1,11):
  for j in range(1, i+1):
    print(i*j, end=" ")
  print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64
9 18 27 36 45 54 63 72 81
10 20 30 40 50 60 70 80 90 100

In [9]:
for i in range(0,7):
  for j in range(0, i+1):
    print(i*j, end="  ")
  print()

0
0  1
0  2  4
0  3  6  9
0  4  8  12  16
0  5  10  15  20  25
0  6  12  18  24  30  36