**Arithmetic operators**

---



---

In [ ]:
# Addition Operator
one = 1
two = 2
three = one + two
print(three)

3

In [ ]:
# Subtraction Operator
one = 1
two = 2
minus = one - two
print(minus)

-1

In [ ]:
# Multiplication Operator
one = 1
two = 2
two_a = one * two
print(two_a)

2

In [ ]:
# Division Operator
one = 1
two = 2
two_a = one / two
print(two_a)

0.5

In [ ]:
# Modulus Operator
one = 1
two = 2
two_a = one % two
print(two_a)

1

In [ ]:
# Exponentiation Operator
one = 1
two = 2
two_a = one ** two
print(two_a)

1

**Comparision Operators**

---



---

In [ ]:
a = 1
b = 2
print("A = 1 | B = 2")
print("A > B " + str(one > two))
print("A < B " + str(one < two))
print("A == B " + str(one == two))
print("A != B " + str(one != two))
print("A >= B " + str(one >= two))
print("A <= B " + str(one <= two))

A = 1 | B = 2
A > B False
A < B True
A == B False
A != B True
A >= B False
A <= B True

**Bitwise Operators**

---



---

In [ ]:
a = 1
b = 2
# Print bitwise AND operation
print(a & b)
 
# Print bitwise OR operation
print(a | b)
 
# Print bitwise NOT operation
print(~a)
 
# print bitwise XOR operation
print(a ^ b)
 
# print bitwise right shift operation
print(a >> 2)
 
# print bitwise left shift operation
print(a << 2)

0
3
-2
3
0
4

**Assignment Operators**

---



---

In [ ]:
# ""  =  ""  assigns value to variables 
a = 1
print(a)
a = 2
print(a)

a += 1
# same as a-- or --a
print("adds one to value += " + str(a)) 

# SAME FOR MULTIPLY Subtract

1
2
adds one to value += 3

**Identity** **Operators**

---



---

In [ ]:
one = 1
two = 2
c = one
 
print(one is not two)
print(one is c)

True
True

**Membership** **Operators**

---



---

In [ ]:
one = 1
two = 2
list = [1, 2, 3, 4, 5]
 
if (one not in list):
    print("one is not in list")
else:
    print("one is in list")
 
if (two in list):
    print("two is present in given list")
else:
    print("two is NOT present in given list")

one is in list
two is present in given list

**Precedence and Associativity of Operators**

---



---

In [ ]:
# Precedence of '+' & '*'
expr = 10 + 20 * 30
print(expr)
 
# Precedence of 'or' & 'and'
name = "Vaibhav"
age = 20
 
if name == "Vaibhav" or name == "Nice" and age >= 21:
    print("Hello! Welcome.")
else:
    print("Good Bye!!")

610
Hello! Welcome.

**Operator Assiciativity**

---



---

In [ ]:
# Left-right associativity
# 100 / 10 * 10 is calculated as
# (100 / 10) * 10 and not
# as 100 / (10 * 10)
print(100 / 10 * 10)
 
# Left-right associativity
# 5 - 2 + 3 is calculated as
# (5 - 2) + 3 and not
# as 5 - (2 + 3)
print(5 - 2 + 3)
 
# left-right associativity
print(5 - (2 + 3))
 
# right-left associativity
# 2 ** 3 ** 2 is calculated as
# 2 ** (3 ** 2) and not
# as (2 ** 3) ** 2
print(2 ** 3 ** 2)

100.0
6
0
512